/* Make the background color dark gray */
body {
    background-color: rgb(21, 21, 21);
    color: rgb(143, 173, 192);
    font-family: "Source Code Pro", monospace;
    /* min-width: 463px; */
}

a {
    text-decoration: none;
    color: rgb(24, 132, 219);
}

hr {
    border: 0;
    height: 1px;
    background-color: rgb(24, 132, 219);
}

hr.break {
    height: 0px;
}

.default-text {
    font-size: 1.1em;
    padding: 0.5em;
}

#header {
    text-align: center;
    margin: 1em;
}

#header h1 {
    margin: 8px;
    font-size: 3em;
    text-decoration: underline rgb(24, 132, 219) 2px solid;
    text-underline-offset: 4px;
    text-shadow: rgb(24, 132, 219) 1px 1px;
}

#header h4 {
    margin: 8px;
    font-size: 1.15em;
    text-decoration: underline rgb(24, 132, 219) 1px solid;
    text-underline-offset: 4px;
    text-shadow: rgb(24, 132, 219) 1px 1px;
}

#content {
    font-size: 1.3em;
}

#footer {
    font-size: 1.3em;
}

@media screen and (max-width: 464px) {
    #header {
        text-align: left;
    }
}
