html {
    font-family: montserrat, sans-serif;
}

body {
    margin: 0px;
}

#nav {
    position: absolute;
    top: 0px;
    left: 135px;
    margin: 0px;
    height: 135px;
    background-color: rgb(70, 70, 70);
    width: 100%;
}

#logo-container {
    float: left;
    background-color: rgb(70, 70, 70);
}

#logo {
    margin: 5px;
}

#logo-alt {
    margin: 0px;
    font-size: 36px;
    height: 135px;
}

#main-header-container {
    position: relative;
    margin: 5px;
    float: left;
    top: 70px;
}

#main-header {
    margin: 0px;
    font-size: 56px;
}

.subnav {
    display: inline-block;
    width: 125px;
    margin-left: 2px;
    margin-right: 2px;
}

.subnav-button .subnav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.subnav-content {
    margin-left: 5px;
    display: none;
    position: absolute;
    width: 125px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.subnav-content-link {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
    padding: 10px 10px;
    text-decoration: none;
}

#current-page {
    color: rgb(84, 213, 218);
}

#menu-icon-container {
    display: none;
    float: right;
    margin: 5px;
}

.subnav-button {
    border: none;
    margin: 5px;
    margin-bottom: 0px;
    padding-left: 12px;
    background-color: rgb(80, 80, 80);
    font-size: 16px;
    z-index: 1;
    width: 125px;
    height: 41px;
}

@media (max-width: 804px) {
    .subnav {
        display: block;
        margin: 0px;
    }

    #main-header-container {
        top: 89px;
        left: 135px;
    }

    #main-header {
        font-size: 36px;
    }

    #nav {
        display: inline-block;
        justify-content: normal;
    }

    .subnav-button {
        height: 37px;
    }

    #subnav-2 {
        position: relative;
        top: -42px;
        left: 135px;
    }

    #subnav-3 {
        position: relative;
        top: -42px;
        left: 0px;
    }

    #subnav-4 {
        position: relative;
        top: -83px;
        left: 135px;
    }

    #subnav-5 {
        position: relative;
        top: -82px;
        left: 0px;
    }
}

@media (max-width: 406px) {
    #nav {
        height: 220px;
    }

    #logo-alt {
        height: 220px;
    }

    #main-header-container {
        top: 170px;
        left: -135px;
    }

    #main-header {
        font-size: 36px;
    }

    .subnav-button {
        height: 37px;
    }

    #subnav-2 {
        top: 88px;
        left: -135px;
    }

    #subnav-4 {
        top: 4px;
        left: 0px;
    }
}

@media (max-width: 276px) {
    #logo-container {
        width: 100%;
    }

    #logo-alt {
        height: 135px;
        width: 100%;
    }

    .subnav {
        display: block;
        margin: 0px;
    }

    #main-header-container {
        top: 203px;
        left: 0px;
    }

    #main-header {
        font-size: 34px;
    }

    #nav {
        top: 135px;
        left: 0px;
        display: block;
        height: 245px;
    }

    .subnav-button {
        height: 37px;
    }

    #subnav-2 {
        top: 0px;
        left: 0px;
    }

    #subnav-3 {
        top: 0px;
        left: 0px;
    }

    #subnav-4 {
        top: 0px;
        left: 0px;
    }

    #subnav-5 {
        top: 0px;
        left: 0px;
    }
}

@media (hover: hover) {
    .subnav-button:hover {
        background-color: rgb(51, 51, 51);
        cursor: pointer;
    }

    .subnav:hover .subnav-content {
        display: block;
        z-index: 2;
        cursor: pointer;
    }

    .subnav:hover .subnav-button {
        background-color: rgb(51, 51, 51);
    }

    .subnav-content-link:hover {
        background-color: rgb(0, 164, 189);
    }

    .subnav-content-link:active {
        background-color: rgb(0, 165, 214);
    }
}

.subnav-button:active {
    background-color: rgb(100, 100, 100)
}