:root {
    --form-background-color: var(--color-very-dark);
    --form-focus-background-color: var(--color-quite-dark);
    --form-border-color: var(--color-medium);
    --form-color: var(--color-light);

    --warning-color: hsl(0, 87%, 43%);
    --warning-background-color: hsl(0, 61%, 23%);
}

body.light-theme {
    --form-background-color: var(--color-medium-light);
    --form-focus-background-color: var(--color-quite-light);
    --form-border-color: var(--color-dark);
    --form-color: var(--color-very-dark);

    --warning-color: hsl(0, 52%, 10%);
    --warning-background-color: hsl(0, 56%, 52%);
}


input[type="text"], input[type="password"] {
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid var(--form-border-color);
    background-color: var(--form-background-color);
    /* color: rgb(255, 255, 255); */
    color: var(--form-color);
    font-size: 16px;
    /* cursor: text; */
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid var(--form-color);
    background-color: var(--form-focus-background-color);
    outline: none;
}

input[type="submit"] {
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid var(--form-border-color);
    background-color: var(--form-background-color);
    color: var(--form-color);
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    border: 1px solid var(--form-color);
    background-color: var(--form-color);
    color: var(--form-background-color);
}

#content-block {
    justify-content: center;
}

#content-block--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#content-block--content--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(300px + 20%);
    padding: 30px;
    margin: 20px 0;
    border-radius: 20px;
    border: 1px solid var(--form-color);
    background-color: var(--form-background-color);
    box-shadow: 0 0 50px var(--form-color);
    user-select: none;
}

#content-block--content--form h3 {
    margin: 0 0 10px 0;
}

#content-block--content--form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#content-block--content--form label {
    width: 100%;
    text-align: left;
    margin: 10px 0 0 0;
    font-size:  18px;
    font-weight: bold;
}

#content-block--content--form input {
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
}

#content-block--content--form--error {
    display: none;
    color: var(--warning-color);
    background-color: var(--warning-background-color);
    padding: 8px;
    border-radius: 8px;
    margin: 10px 0;
    width: 80%;
    text-align: center;
    font-weight: bold;
}

#content-block--content--form--username {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#content-block--content--form--password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#content-block--content--form--submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 500px) {
    #content-block--content--form {
        width: 90%;
    }
}