/* The mainly used colors will be variants of green and very dark gray. */
/* The hex color codes sorted from dark to light are as follows: */
/* #000805, #003220, #005d3a, #008755, #00b26f, #00dc8a */

/* Set the background color to very dark gray, the text color to medium light green, the font to Source Code Pro, and the font size to 1.25em. The min-width is 244px. */
body {
    background-color: #000805;
    color: #00b26f;
    font-family: "Source Code Pro", monospace;
    font-size: 1.25em;
    min-width: 244px;
}

a {
    color: #00dc8a;
}

/* Set the text decoration of links to none and the color to the inherited color. */
.invisible-link {
    text-decoration: none;
    color: inherit;
}

.no-margin {
    margin: 0;
}

.header-block--nav-bar--nav {
    display: inline-block;
    vertical-align: top;
    padding: 20px 17px;
}

.button-link {
    text-decoration: none;
    color: #008755;
    padding: 8px 18px;
    border: 1px solid #008755;
    border-radius: 20px;
}

#header-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #005d3a;
    width: 100%;
    height: 90px;
}

#header-block--header {
    display: inline-block;
    vertical-align: top;
    padding: 26px 0 26px 20px;
}

#header-block--nav-bar {
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px 10px 0;
}

#main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 60%;
    left: 20%;
    /* width: calc(800px + 10%);
    left: calc((100% - calc(800px + 10%)) / 2); */
}

#footer-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #005d3a;
    width: 100%;
    height: 90px;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 1em;
    }
}

@media screen and (max-width: 340px) {
    body {
        font-size: 0.75em;
    }
}